.commodities-basket
	display: flex
	&__img-block
		width: 160px
		height: 160px
		overflow: hidden
	&__img
		width: 160px
		height: 160px
	&__name
		font-size: 19px
	&__commodity
		width: 100%
		max-width: 370px
		padding: 20px
		padding-bottom: 0px
		padding-right: 0px
		border: 2px solid #538ca9
		margin-right: 30px
		margin-bottom: 2vh
	&__upper
		display: flex
	&__text
		padding-left: 15px
	&__characteristics
		margin-top: 35px
		padding-right: 20px
	&__char
		font-size: 14px
		font-weight: 200
	&__bold-char
		font-size: 19px
	&__color
		width: 33px
		height: 33px
		background-color: #538ca9
		border-radius: 50%
		margin-left: 7px
	&__price-text
		text-align: center
		font-size: 18px
	&__price
		padding: 10px
		border: 2px solid #538ca9
		border-bottom: none
		border-right: none
		width: 70%
	&__additional
		margin-top: 30px
		display: flex
	&__quantity
		font-size: 22px
		padding-top: 11px
		width: 184px
		text-align: center
	&__quantity-text
		margin: auto
		margin-right: 8%
		img
			width: 13px
			margin-left: 13px
			margin-right: 13px
			padding-bottom: 4px

	&__color-block
		display: flex



.order
	input, textarea
		padding-left: 15px
	&__title
		font-size: 23px
		margin-bottom: 5px
	&__input
		margin-bottom: 20px
		img
			margin-top: 10px
		input, textarea
			width: 100%
			height: 45px
			border-radius: none
			border: 2px solid #538ca9
			background: #f3f3f3
		textarea
			height: 115px
	&__right
		padding-left: 6vw

	&__text
		font-size: 11px
		padding-left: 12px
	.btn-add-to-cart
		text-align: center
		width: 165px
		font-size: 22px
		margin-left: 12px
		margin-top: 25px

.section-basket__underline
	width: 90%
form.payment_type
	margin-bottom: 3vh
	.row
		padding-left: 20px
		label


			font-size: 15px
			text-transform: uppercase
		input
			margin-left: 1vw
#continue_basket
	text-transform: uppercase
	margin-left: 0
#make_payment
	display: none


.empty_basket
	height: 500px
	padding-top: 200px

.empty_basket__btn
	margin-top: 20px
	display: flex
	align-items: center
	justify-content: center

.empty_basket__title
	text-align: center

a.check_status
	color: #ce2a6e
	cursor: pointer
	&:hover
		color: #ce2a6e
		text-decoration: underline
		cursor: pointer
.check_status__content
	margin-top: 10vh
	margin-bottom: 10vh
	.check_status__form

		border: 2px solid #538ca9

		margin-right: 2%
		padding: 30px
		margin-top: 10vh
		display: flex
		justify-content: center
		text-align: center
		align-items: center
		form
			display: flex
			align-items: center


		input[type="number"]
			margin-left: 20px
			padding-left: 10px
			height: 45px
			margin-right: 0

		input.btn-add-to-cart
			text-transform: uppercase
			height: 45px
			margin-top: 0
			margin-left: 0
			width: 100px
	.deliver_table
		margin-top: 5vh


		.thead-dark th
		    color: #fff
		    background-color: #538ca9
		    border-color: #538ca9
