.footer
    .with-line
        width: 100vw

    &__image
        margin-top: 10px
        img
            width: 95%
    &__text
        margin-top: 55px
        position: relative
        span
            width: auto
            font-size: 21px
            font-family: "FuturaPT"
            color: rgb(70, 70, 70)
            text-transform: uppercase
    &__subscribe
        margin-left: 5%

        form
            margin-top: 40px

            input

                background-color: rgb(231, 231, 231)
                border: 0
                width: 280px
                height: 60px
                padding-left: 30px
            button
                color: white
                text-transform: uppercase
                font-size: 18px
                font-family: "FuturaPT-Light"
                background-color: rgb(206, 42, 110)
                width: 166px
    &__description
        margin-top: 1%
        max-width: 18vw
        font-size: 17px
        font-family: "FuturaPT-Light"
        color: rgb(70, 70, 70)
    &__contacts
        margin-top: 1.5%
        border-top: 1px solid rgba(0,0,0,.1)
        width: 61vw
        margin-left: 1%
        padding-bottom: 5vh
        p
            padding-top: 1%
            text-align: right

            font-size: 16px
            font-family: "FuturaPT"
            color: rgb(70, 70, 70)
            text-transform: uppercase
            line-height: 1.666
    &__line

        background-color: rgb(95, 92, 164)

        height: 58px
