@import "fonts"
@import "footer"
@import "main-content"
@import "header"
@import "media"

html
    margin: 0
    padding: 0
    height: auto
    overflow-x: hidden
body
    margin: 0
    padding: 0

a
    text-decoration: none
    &:hover
        color: inherit
