@import "fonts"
@import "footer"
@import "main-content"
@import "header"
@import "media"
@import "section-index"

html
    margin: 0
    padding: 0
    height: auto
    overflow-x: hidden
body
    margin: 0
    padding: 0

a
    text-decoration: none
    &:hover
        color: inherit

.big-btn
	font-size: 18px
	color: white
	width: 216px
	text-align: center
	background-color: #666699
	margin: auto
	padding-top: 24px
	padding-bottom: 24px
	margin-top: 40px
.btn-add-to-cart
	background-color: #ff3366
	color: white
	font-size: 15px
	width: 100%
	padding-top: 10px
	padding-bottom: 10px
