// TODO: small phones and tabs

@media screen and (max-width: 640px)
    .open__mobile__menu
        display: block
    .smm_container

        position: absolute
        .col-md-5, .smm
            display: none
        img.logo
            position: relative !important
            height: 80px
            top: 0
            left: 0 !important
        padding:
            top: 10px!important
            bottom: 10px!important
            left: 10px!important


    nav
        height: 100px
        .menu__points, .menu__cart
            display: none
    .section-index__main-img
        margin-bottom: 5vh
    .section-index__arrow
        display: none
    .section-index__underline
        width: 40vw
    .section-index__title-block
        font-size: 20px
    .section-index__slider
        margin-bottom: 5vh
    .main-img__uppertext
        font-size: 32px

    .big-btn
        width: 190px
        padding-top: 10px
        padding-bottom: 10px
        margin-top: 40px
    .footer__description
        width: 95%
        text-align: justify
        padding: 2%
    .footer__contacts
        width: 100vw
        padding: 2%
        p
            text-align: center
    .footer__subscribe form input
        width: 50vw
        height: 60px
        padding-left: 10px
    .footer__image
        margin-top: 10px
        padding-left: 17.5%
    footer
        max-width: 100vw
    .footer__text span
        padding-left: 3vw
        font-size: 20px
