.open__mobile__menu
    position: absolute
    right: 25px
    top: 30px
.mobile-menu
    display: none
    z-index: 99999
    height: 105vh
    width: 100vw
    position: fixed
    background: #5f5ca4
    &__close
        position: absolute
        right: 25px
        top: 30px

@media screen and (max-width: 500px)
    .smm_container

        position: absolute
        .col-md-5, .smm
            display: none
        .logo
            height: 90px
            top: 0
            left: 0 !important
        padding:
            top: 1vh!important
            left: 7vw!important


    nav
        height: 100px
        .menu__points, .menu__cart
            display: none
