.select-brown
	background-color: #c7b299
	color: white
	padding: 14px
	position: absolute
	width: 85%
	padding-bottom: 30px
	margin-top: 15px
	&__head
		font-size: 16px
		padding-bottom: 17px
	&__category
		padding: 10px
		border: solid 1px white
		width: 125px
		text-align: center
		margin-top: 7px
	&__container
		width: 100%
	
	